lib/Get Meta from Workflows.json
{
  "name": "Get Meta from Workflows",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -272
      ],
      "id": "c1131ca5-34c6-4cbb-97de-141634bbd6ae",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YWKxzkQ92yo4mNWO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Jhw4QcW6h5liFgylNRYKU_qcvjvBwjuJ",
          "mode": "list",
          "cachedResultName": "Yotomations",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Jhw4QcW6h5liFgylNRYKU_qcvjvBwjuJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -272
      ],
      "id": "e78e0276-7b3a-4aad-848a-3e2aacce003b",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YWKxzkQ92yo4mNWO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        -272
      ],
      "id": "70e7aacf-7ec0-4379-beb8-22c6a5ad7755",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vqwSAHaq03oYp7Gm",
          "mode": "list",
          "cachedResultName": "Get Meta from Workflow SubWiorkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Extract from File').item.json.data }}"
          },
          "matchingColumns": [
            "data",
            ""
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        512,
        -272
      ],
      "name": "Call Get Meta from Workflow SubWiorkflow",
      "id": "dfb4b38d-16ad-46c9-996a-9c1351cfa472"
    }
  ],
  "pinData": {
    "Google Drive Trigger1": [
      {
        "json": {
          "parents": [
            "1Jhw4QcW6h5liFgylNRYKU_qcvjvBwjuJ"
          ],
          "lastModifyingUser": {
            "displayName": "Anoop Dasika",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17747780452508802148",
            "emailAddress": "anoop.karnik@bayesian-labs.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
          },
          "owners": [
            {
              "displayName": "Anoop Dasika",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17747780452508802148",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17747780452508802148",
              "type": "user",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "role": "owner",
              "displayName": "Anoop Dasika",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "17747780452508802148"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1-blKPtO6Q48br1xG_srpKicXqU0xFf_e",
          "name": "10) Product Videos.json",
          "mimeType": "application/json",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "2",
          "webContentLink": "https://drive.google.com/uc?id=1-blKPtO6Q48br1xG_srpKicXqU0xFf_e&export=download",
          "webViewLink": "https://drive.google.com/file/d/1-blKPtO6Q48br1xG_srpKicXqU0xFf_e/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/json",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-13T16:22:55.140Z",
          "createdTime": "2025-08-13T16:22:55.140Z",
          "modifiedTime": "2025-05-22T21:30:20.000Z",
          "modifiedByMeTime": "2025-05-22T21:30:20.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "10) Product Videos.json",
          "fullFileExtension": "json",
          "fileExtension": "json",
          "md5Checksum": "f183858c8e8ae33807b70c389e0d27f6",
          "sha1Checksum": "218cc1252b1d2fb2a7ec175b66d61014ff3a869d",
          "sha256Checksum": "ce6217c8c200275c01105411c63d0d291f933821fa881b15169a353689a11198",
          "size": "20375",
          "quotaBytesUsed": "20375",
          "headRevisionId": "0B9aAXn76VO6DREQ3U3NnbjAxQlV3V0Q0eVN4QnJXSzh3VTUwPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      },
      {
        "json": {
          "parents": [
            "1Jhw4QcW6h5liFgylNRYKU_qcvjvBwjuJ"
          ],
          "lastModifyingUser": {
            "displayName": "Anoop Dasika",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17747780452508802148",
            "emailAddress": "anoop.karnik@bayesian-labs.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
          },
          "owners": [
            {
              "displayName": "Anoop Dasika",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17747780452508802148",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17747780452508802148",
              "type": "user",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "role": "owner",
              "displayName": "Anoop Dasika",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "17747780452508802148"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1q8D9xT8CTDLGYvXY4m-ZYJYugpHedye8",
          "name": "9) OpenAI Image Gen.json",
          "mimeType": "application/json",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "2",
          "webContentLink": "https://drive.google.com/uc?id=1q8D9xT8CTDLGYvXY4m-ZYJYugpHedye8&export=download",
          "webViewLink": "https://drive.google.com/file/d/1q8D9xT8CTDLGYvXY4m-ZYJYugpHedye8/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/json",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-13T16:22:52.676Z",
          "createdTime": "2025-08-13T16:22:52.676Z",
          "modifiedTime": "2025-05-22T21:29:48.000Z",
          "modifiedByMeTime": "2025-05-22T21:29:48.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "9) OpenAI Image Gen.json",
          "fullFileExtension": "json",
          "fileExtension": "json",
          "md5Checksum": "ce72ae67ce6b7811928e18a8985edcf7",
          "sha1Checksum": "3478a030d9ddf2de16d013a6d0aa8e91f329a4b6",
          "sha256Checksum": "c6dc3e2e170d809bba9b1386a7ad568bbb4474a32fcd5124266908b3f287b723",
          "size": "17623",
          "quotaBytesUsed": "17623",
          "headRevisionId": "0B9aAXn76VO6DUXQ5NEU0K2FSWGJyaE9KR0hIejVpZ3pXREM0PQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      },
      {
        "json": {
          "parents": [
            "1Jhw4QcW6h5liFgylNRYKU_qcvjvBwjuJ"
          ],
          "lastModifyingUser": {
            "displayName": "Anoop Dasika",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17747780452508802148",
            "emailAddress": "anoop.karnik@bayesian-labs.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
          },
          "owners": [
            {
              "displayName": "Anoop Dasika",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17747780452508802148",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17747780452508802148",
              "type": "user",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "role": "owner",
              "displayName": "Anoop Dasika",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "17747780452508802148"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1kfxIQmhbWRdmV4h_0vxTU1AjOTJ97aZi",
          "name": "8) Apify.json",
          "mimeType": "application/json",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "2",
          "webContentLink": "https://drive.google.com/uc?id=1kfxIQmhbWRdmV4h_0vxTU1AjOTJ97aZi&export=download",
          "webViewLink": "https://drive.google.com/file/d/1kfxIQmhbWRdmV4h_0vxTU1AjOTJ97aZi/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/json",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-13T16:22:53.964Z",
          "createdTime": "2025-08-13T16:22:53.964Z",
          "modifiedTime": "2025-05-22T21:29:20.000Z",
          "modifiedByMeTime": "2025-05-22T21:29:20.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "8) Apify.json",
          "fullFileExtension": "json",
          "fileExtension": "json",
          "md5Checksum": "71f6a1fcac2d4edaf0d1b9cd7f8dd0bb",
          "sha1Checksum": "e58f3471b054f4cab82167eaecf3680ebaf48df2",
          "sha256Checksum": "c2fa443cd6d579b8de084b4151b6b99e3db7b3118edb6944872ee7bc6deed0c9",
          "size": "5326",
          "quotaBytesUsed": "5326",
          "headRevisionId": "0B9aAXn76VO6DRHJwdnEzSXhGMHFJa2N6N0pXdWs4Mmo5QkRvPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      },
      {
        "json": {
          "parents": [
            "1Jhw4QcW6h5liFgylNRYKU_qcvjvBwjuJ"
          ],
          "lastModifyingUser": {
            "displayName": "Anoop Dasika",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17747780452508802148",
            "emailAddress": "anoop.karnik@bayesian-labs.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
          },
          "owners": [
            {
              "displayName": "Anoop Dasika",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17747780452508802148",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17747780452508802148",
              "type": "user",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "role": "owner",
              "displayName": "Anoop Dasika",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "17747780452508802148"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1NfKnlKJ4exhQfRVpYz9Wwkqu5z1-292l",
          "name": "6) Perplexity.json",
          "mimeType": "application/json",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "2",
          "webContentLink": "https://drive.google.com/uc?id=1NfKnlKJ4exhQfRVpYz9Wwkqu5z1-292l&export=download",
          "webViewLink": "https://drive.google.com/file/d/1NfKnlKJ4exhQfRVpYz9Wwkqu5z1-292l/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/json",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-13T16:22:55.140Z",
          "createdTime": "2025-08-13T16:22:55.140Z",
          "modifiedTime": "2025-05-22T21:28:41.000Z",
          "modifiedByMeTime": "2025-05-22T21:28:41.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "6) Perplexity.json",
          "fullFileExtension": "json",
          "fileExtension": "json",
          "md5Checksum": "569523e3285d9e822a867649e7149ba5",
          "sha1Checksum": "2f89b7259527c6ece2ef0ecde3b744190ebbc32d",
          "sha256Checksum": "b40e5fef6919a14b6f27491b430d8401a9519439c52accb4744e7067c39b5831",
          "size": "2846",
          "quotaBytesUsed": "2846",
          "headRevisionId": "0B9aAXn76VO6DY2x4L1VsTDB4R0V1enRpUW1sNy81dU1uZ2lVPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      },
      {
        "json": {
          "parents": [
            "1Jhw4QcW6h5liFgylNRYKU_qcvjvBwjuJ"
          ],
          "lastModifyingUser": {
            "displayName": "Anoop Dasika",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17747780452508802148",
            "emailAddress": "anoop.karnik@bayesian-labs.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
          },
          "owners": [
            {
              "displayName": "Anoop Dasika",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17747780452508802148",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17747780452508802148",
              "type": "user",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "role": "owner",
              "displayName": "Anoop Dasika",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "17747780452508802148"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1cwvKrlp2-Wuv_aTTpaS_K91FwjnkvgdL",
          "name": "7) Firecrawl Extract Template.json",
          "mimeType": "application/json",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "2",
          "webContentLink": "https://drive.google.com/uc?id=1cwvKrlp2-Wuv_aTTpaS_K91FwjnkvgdL&export=download",
          "webViewLink": "https://drive.google.com/file/d/1cwvKrlp2-Wuv_aTTpaS_K91FwjnkvgdL/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/json",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-13T16:22:55.140Z",
          "createdTime": "2025-08-13T16:22:55.140Z",
          "modifiedTime": "2025-05-22T21:26:55.000Z",
          "modifiedByMeTime": "2025-05-22T21:26:55.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "7) Firecrawl Extract Template.json",
          "fullFileExtension": "json",
          "fileExtension": "json",
          "md5Checksum": "00a4b9efe116a24acc5c8fe6a8f5495c",
          "sha1Checksum": "bb699b88ac62041de0ce2d5146753cceff9865f6",
          "sha256Checksum": "d92c7f341a3b66368310c150e3706df9f75b01a1da6c7dffc52ffda7ff58edb3",
          "size": "6951",
          "quotaBytesUsed": "6951",
          "headRevisionId": "0B9aAXn76VO6DUmFWK2FzcWZKVGZFWWxpQ3dsN1dzSmMvb1lRPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      },
      {
        "json": {
          "parents": [
            "1Jhw4QcW6h5liFgylNRYKU_qcvjvBwjuJ"
          ],
          "lastModifyingUser": {
            "displayName": "Anoop Dasika",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17747780452508802148",
            "emailAddress": "anoop.karnik@bayesian-labs.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
          },
          "owners": [
            {
              "displayName": "Anoop Dasika",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17747780452508802148",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17747780452508802148",
              "type": "user",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "role": "owner",
              "displayName": "Anoop Dasika",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "17747780452508802148"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1AOGVcZrR3mXy_FM6EihorAU376WZYEM-",
          "name": "5) API Calls in n8n.json",
          "mimeType": "application/json",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "2",
          "webContentLink": "https://drive.google.com/uc?id=1AOGVcZrR3mXy_FM6EihorAU376WZYEM-&export=download",
          "webViewLink": "https://drive.google.com/file/d/1AOGVcZrR3mXy_FM6EihorAU376WZYEM-/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/json",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-13T16:22:55.140Z",
          "createdTime": "2025-08-13T16:22:55.140Z",
          "modifiedTime": "2025-05-22T21:26:24.000Z",
          "modifiedByMeTime": "2025-05-22T21:26:24.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "5) API Calls in n8n.json",
          "fullFileExtension": "json",
          "fileExtension": "json",
          "md5Checksum": "c6d3bede4e6097939397d63e1195022b",
          "sha1Checksum": "0ce0acbc83ef332255be46f77359a652ac9d82c9",
          "sha256Checksum": "86adb0c14c57abdb2f9c3ddd3fb648e569f95b67f2632ce41f4ef84e0c7006e9",
          "size": "8312",
          "quotaBytesUsed": "8312",
          "headRevisionId": "0B9aAXn76VO6DNFNLRDNUR09UK3lBZEZXKzJ2d2svUTdBZmEwPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      },
      {
        "json": {
          "parents": [
            "1Jhw4QcW6h5liFgylNRYKU_qcvjvBwjuJ"
          ],
          "lastModifyingUser": {
            "displayName": "Anoop Dasika",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17747780452508802148",
            "emailAddress": "anoop.karnik@bayesian-labs.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
          },
          "owners": [
            {
              "displayName": "Anoop Dasika",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17747780452508802148",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "17747780452508802148",
              "type": "user",
              "emailAddress": "anoop.karnik@bayesian-labs.com",
              "role": "owner",
              "displayName": "Anoop Dasika",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKk5vheoZCV8Hm1S9qwFzJyC0P_Vml7_syMi4It-utqs8mMmg=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "17747780452508802148"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1QYTDgx2ReMqGdGWIU7C7DHZJ_kFSWd4b",
          "name": "4) Invoice Workflow.json",
          "mimeType": "application/json",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "2",
          "webContentLink": "https://drive.google.com/uc?id=1QYTDgx2ReMqGdGWIU7C7DHZJ_kFSWd4b&export=download",
          "webViewLink": "https://drive.google.com/file/d/1QYTDgx2ReMqGdGWIU7C7DHZJ_kFSWd4b/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/json",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-13T16:22:55.140Z",
          "createdTime": "2025-08-13T16:22:55.140Z",
          "modifiedTime": "2025-05-22T21:25:29.000Z",
          "modifiedByMeTime": "2025-05-22T21:25:29.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "4) Invoice Workflow.json",
          "fullFileExtension": "json",
          "fileExtension": "json",
          "md5Checksum": "df7a9520ca1d79c34273bbc586b5b018",
          "sha1Checksum": "6a26c5a075d04d13ffc3dfff350dd8e39e461443",
          "sha256Checksum": "7e5214b242900468812e21124099d36b5ffbb5b44475544b8517b29ca17a9f94",
          "size": "9164",
          "quotaBytesUsed": "9164",
          "headRevisionId": "0B9aAXn76VO6DRjNlYjlTS3ZRNFQ0dldQNmh0VnBsdWZadlVBPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Call Get Meta from Workflow SubWiorkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get Meta from Workflow SubWiorkflow": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92289724-2193-47cf-8be6-e22b516fb403",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "1AjWHuGcwimE767K",
  "tags": []
}